TZ=Asia/Shanghai
MODE=gui

# Management UI
NOVNC_BIND_ADDR=0.0.0.0
NOVNC_HOST_PORT=6080
UI_PASSWORD=

# Proxy port
PROXY_BIND_ADDR=0.0.0.0
PROXY_SOCKS_HOST_PORT=6454

# Runtime display settings
XVFB_WHD=1280x800x24
